!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
</head>
<body>
    <h1>Formulario</h1>
    <section id="sect1">
        <form action="formularios">
            <label for="name">Nombre</label>
            <br>
            <input type="text">
            <br>
            <label for="surname">Apellido</label>
            <br>
            <input type="text">
            <br>
            <label for="date">Fecha de nacimiento</label>
            <br>
            <input type="date">
            <br>
            <label for="age">Edad</label>
            <br>
            <input type="number">
            <h2>Genero</h2>
            <input type="radio" name="opcion" value="1">Masculino
            <br>
            <input type="radio" name="opcion" value="2">Femenino
            <br>
            <input type="radio" name="opcion" value="3">Otro

            <h2>Area a desarrollarse</h2>
            <input type="radio" name="opcion" value="1"> App web
            <br>
            <input type="radio" name="opcion" value="2"> Análisis de datos
            <br>
            <input type="radio" name="opcion" value="3">Desarrollo de juegos

            <h2>Tecnologías</h2>
            <input type="checkbox" name="opcion" value="1">HTML
            <br>
            <input type="checkbox" name="opcion" value="2">CSS
            <br>
            <input type="checkbox" name="opcion" value="3">JS
            <br>
            <br>
            <input type="submit">
            <input type="reset">
        </form>
    </section>
    
</body>
</html>