<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galería</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="templates/galeria.html">Galería</a></li>
          <li><a href="templates/tabla.html">Tabla</a></li>
          <li><a href="https://www.google.com.ar/?hl=es">Google</a></li>
          <li><a href="templates/listas.html">Listas</a></li>
          <li><a href="formularios.html"></a></li>
        </ul>

        <h2>Secciones dentro de la página</h2>
        <ul>
          <li><a href="#monumento">Sección monumento</a></li>
          <li><a href="#PDF">Sección descargar PDF</a></li>
          <li><a href="#Envias_correo">Sección enviar correo</a></li>
        </ul>
      </nav>
    </header>

    <section id="Monumento">
      <div id="cont_monu">
        <img src="../img/Rosario_Ciudad.jpeg" alt="" />
        <h2>Monumento a la bandera</h2>
        <p>
          Este es el Monumento Nacional a la Bandera, ubicado en la ciudad de
          Rosario, Argentina. Su diseño majestuoso honra el lugar donde Manuel
          Belgrano izó por primera vez la bandera nacional en 1812. Con su
          imponente torre de 70 metros, su Patio Cívico, y la llama votiva que
          siempre arde, este sitio es un símbolo de orgullo patrio y un
          recordatorio de nuestra historia.
        </p>

        <a href="../img/Rosario_Ciudad.jpeg" target="_blank"
          >Enlace a la imagen en una nueva ventana</a
        >
        <br />
        <br />
        <h2>Descargar imagen JPG</h2>
        <a href="../img/Rosario_Ciudad.jpeg" download="monumento_ros">
          Descargar Imagen aquí!!
        </a>

        <section id="PDF">
          <h2>Descargar PDF</h2>
          <a href="../multimedia/monumento_a_la_band.pdf" download="mi-documento.pdf">
            Descargar imagen en formato PDF
          </a>
        </section>

        <section id="Envias_correo">
          <h2>Enviar Correo</h2>
          <a
            href="mailto:tobyswork@gmail.com?subject=Asunto&body=Hola, este es un correo de prueba."
          >
            Enviar Correo
          </a>
        </section>
      </div>
    </section>
  </body>
</html>
