<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link rel="shortcut icon" href="../img/red.ico" type="image/x-icon">
    <meta name="keywords" content="Tablas, Audios, Babasonicos, Rosario, UTN, html, programación">
    <meta name="description" content="Esta es una página creada con fines educativos, resolviendo los ejercicios propuestos por los profesores de programación II">
  </head>
  <body>
    <h1>Tablas</h1>
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="templates/galeria.html">Galería</a></li>
        <li><a href="templates/tabla.html">Tabla</a></li>
        <li><a href="https://www.google.com.ar/?hl=es">Google</a></li>
        <li><a href="templates/listas.html">Listas</a></li>
        <li><a href="formularios.html"></a></li>
      </ul>
    </nav>
<hr>
    <section id="sect1">

      <div id="aud">
        <h2>Audio</h2>
        <audio src="../multimedia/Babasónicos - Cómo Eran las Cosas __ Letra - ZephiroSL.mp3" controls></audio>
        
      </div>
      <div id="vid">
        <h2>Video Python</h2>
        <video src="../multimedia/¿Sabes qué es PYTHON y por qué es un lenguaje de programación tan importante_.mp4" controls></video>
      </div>
    </section>
    <section id="sect2">
      <hr>
<div id="map">
 <h2>Mapas</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8676630165764!2d-60.646393925040925!3d-32.95450317359001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1743379104162!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<h2>Video de Youtube</h2>
<div id="yout">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/o8NPllzkFhE?si=f7Sx27EdfsEg46u3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<hr>
    </section>
    <section id="sect3"></section>
    <div id="tabla">

      <h2>Tabla de datos</h2>

      <table border="1">

        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Nacionalidad</th>
          <th>Ocupación</th>
          <th>Obras notables</th>
        </tr>
        <tr>
          <td>Torvalds Benedict Linus</td>
          <td>55 años</td>
          <td>finés estadounidense</td>
          <td>Ingeniero en software</td>
          <td>Nucleo linux, git</td>
        </tr>

        <tr>
          <td>Mark Zuckerberg</td>
          <td>40 años</td>
          <td>estadounidense</td>
          <td>	Director ejecutivo de Meta</td>
          <td>Facebook, cofundador de Meta</td>
        </tr>
      </table>

    </div>
  </body>
</html>
