* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
#main-section{
  margin: 100px 0px 50px 0px;
}
.contenedor-banner {
  background: url(../images/banner2.png);
  background-size: cover;
  background-position: center;
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 607px;
}
.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.texto-plataforma,
.texto-solucion,
.texto-diseño{
  color: white;
}
.texto-plataforma{
  font-size: 31px;
}
.texto-solucion{
  padding: 10px;
  font-size: 12px;
  width: 100%;
}
#link-empezar{
  font-size: 13px;
  color: white;
  padding: 9px 1px 9px 1px;
  width: 20%;
  border-radius: 3px;
  margin-top: 10px;
}
#boton-empezar{
  font-size: 11px;
  padding: 10px 33px;
}
#link-empezar:hover{
  border: 1px solid white;
  transition: 1s;
}
.contendor-texto-diseño{
  margin-top: 180px;
}
.contenedor-texto-plataforma{
  margin-top: 170px;
}
.texto-diseño{
  font-size: 17px;
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.main-container {
  background-color: #f0f0f0;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#contenedor-cursos{
  margin-top: 50px;
  margin-bottom: 100px;
}
h1,
h2 {
  text-align: center;
}
.texto-h1 {
  font-size: 30px;
  margin: 40px 0px 20px 0px;
}
.texto-h2 {
  font-size: 17px;
  margin: 50px 0px 20px 0px;
}
.texto-h2-estadisticas{
  font-size: 17px;
  margin: 50px 0px 20px 0px;
}
.texto-h2-informacion{
  font-size: 13px;
}
form {
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 10px 0 5px;
}
select {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
}
#contenedor-estadisticas,
#form-curso,
#form-estudiante,
#form-edicion,
#lista-cursos {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#form-edicion {
  border: 1px solid #0dcaf0;
  margin: auto;
}
#nombre-curso,
#profesor-curso,
#nombre-estudiante,
#edad-estudiante,
#nota-estudiante,
#curso-estudiante,
#nuevo-nombre-curso,
#nuevo-nombre-profesor{
  font-size: 14px;
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#edad-estudiante-editar,
#nota-estudiante-editar,
#nombre-estudiante-editar{
  width: 42%;
  font-size: 14px;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#edad-estudiante-editar,
#nota-estudiante-editar,
#nombre-estudiante-editar{
  width: 100%;
  font-size: 14px;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#boton-agregar-curso {
  font-size: 11px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px 1px 9px 1px;
  width: 17%;
  border-radius: 3px;
  margin-top: 10px;
}
#boton-agregar-estudiante {
  font-size: 11px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px 1px 9px 1px;
  width: 21%;
  border-radius: 3px;
  margin-top: 10px;
}
#boton-eliminar-curso,
#boton-editar-curso {
  font-size: 11px;
  padding: 7px 15px 7px 15px;
  width: 50%;
  border-radius: 3px;
  color: white;
}
#boton-editar-estudiante,
#boton-eliminar-estudiante {
  font-size: 11px;
  padding: 7px 15px 7px 15px;
  color: white;
  border-radius: 3px;
  width: 22%;
  margin-right: 5px;
}
.botones-acciones {
  display: flex;
  gap: 10px;
}
#guardar-edicion,
#cancelar-edicion{
  color: white;
  font-size: 11px;
  padding: 7px 1px;
  width: 13%;
  border-radius: 3px;
  margin: 10px 0px;
}
#guardar-edicion-estudiante,
#cancelar-edicion-estudiante {
  color: white;
  font-size: 11px;
  padding: 7px 1px;
  width: 13%;
  border-radius: 3px;
  margin: 10px 0px;
}
#lista-cursos {
  margin-top: 20px;
}

.curso {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
}

.curso h3 {
  margin-bottom: 10px;
}

.estudiante {
  margin-left: 20px;
}
.titulo-curso {
  font-size: 15px;
}
.tabla-cursos,
.tabla-estudiante {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}
.tabla-cursos th,
.tabla-cursos td,
.tabla-estudiante th,
.tabla-estudiante td {
  font-size: 13px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.tabla-cursos th {
  background-color: #f2f2f2;
}
label {
  font-size: 13px;
}
.texto-h4-curso,
.texto-h4-estudiante {
  font-size: 17px;
  margin: auto;
}
.texto-h4-estudiante{
  padding: 20px 0px 5px 0px;
}
td {
  font-size: 14px;
}
.mensaje {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 3px;
  z-index: 1000;
}
.success {
  border-radius: 3px;
  border: 1px solid green;
  background-color: #d4edda;
  color: #155724;
  font-style: oblique;
  transition: 1s;
}
.error {
  border-radius: 3px;
  border: 1px solid red;
  font-style: oblique;
  background-color: #f8d7da;
  color: #721c24; /
}
.mensaje {
  opacity: 1;
  transition: opacity 2s ease;
}
.mensaje.oculto {
  opacity: 0;
}
#busqueda-ingresada:hover{
  border: 1px solid blue;
}
.input-container {
  width: 100%;
  margin: 25px 0;
}
.input-container .col-auto {
  display: flex;
  align-items: center;
}
#filtro-estudiantes {
  font-size: 13px;
  margin-left: auto;
  width: 70%;
}
.contenedor-select{
  width: 50%;
}
#busqueda-ingresada {
  width: 100%;
  border-radius: 24px;
  font-size: 13px;
  padding: 7px 30px;
}
.fa-magnifying-glass {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-size: 14px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.63);
  transition: opacity 3s;
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 100%;
}
#btn-confirmar,
#btn-cancelar{
  font-size: 13px;
  border-radius: 3px;
  margin: 2px;
  width: 30%;
}
#contenedor-modal{
  border-radius: 5px;
  width: 50%;
  background-color: white;
}
.form-control {
  margin-right: 10px;
}
.fa-address-book,
.fa-share-nodes,
.fa-chart-simple,
.fa-book-medical,
.fa-user-plus,
.fa-list,
.fa-graduation-cap,
.fa-users{
  font-size: 15px;
}
#tabla-estadisticas {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
#tabla-estadisticas th,
#tabla-estadisticas td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
#tabla-estadisticas th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}
#tabla-estadisticas tr:nth-child(even) {
  background-color: #f9f9f9;
}
#tabla-estadisticas td {
  font-size: 14px;
}
#graficaEstudiantes {
  width: 100% !important;
  height: 800px;

}
.contenedor-boton-grafica{
  padding: 20px;
}
#exportar-json{
  font-size: 11px;
  border-radius: 4px;
  padding: 7px 25px 7px 25px;
}
.banner-image{
  width: 100%;
  height: 560px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
  padding: 40px 40px 10px 40px;
  background-color: rgb(55, 55, 57);
  height: 350px;
}
.footer-redes,
.footer-contacto {
  margin-top: 30px;
  margin-bottom: 20px;
}
.fa-linkedin,
.fa-github,
.fa-instagram,
.fa-x-twitter,
.fa-discord{
    font-size: 22px;
    color: white;
  }
.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-x-twitter:hover,
.fa-discord:hover {
  color: #23b37c;
  transition: 1s;
}
.info-redes{
  font-weight: 300;
  font-size: 11px;
  color: white;
  margin: auto;
  letter-spacing: 1px;
}
.fa-bars-progress{
  filter: drop-shadow(0 0 5px #23b37c);
}
.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.texto-contacto{
  letter-spacing: 5px;
  font-size: 19px;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}
.footer-redes,
.footer-contacto {
  flex: 1;
  margin: 0 10px;
}
.copyright {
  font-weight: 300;
  padding: 140px 0px 0px 0px;
  font-size: 11px;
  margin-top: auto;
  text-align: center;
}
.h3-mis-redes{
  letter-spacing: 5px;
  font-size: 19px;
  font-weight: 300;
}
label {
  font-size: 12px;
}
.boton-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #198754;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-decoration: none;
  transition: background-color 1s;
}
.boton-whatsapp:hover {
  transition: 1s;
  border: 1px solid white;
  background-color: #128C7E;
}
