<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="galeria.css">
    <link rel="stylesheet" href="header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Gunjala+Gondi:wght@400..700&display=swap" rel="stylesheet">
    <title>Galeria</title>
</head>
<body>
    <head class="header">
        <img src="img/images (1).jpeg" alt="Programacion" class="iconogaleria">
        <nav style="background-color: bisque;">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="tabla.html">Tabla</a></li>
                <li><a href="listas.html">Listas</a></li>
                <li><a href="formularios.html">formularios</a></li>
                <li><a href="https://www.google.com">Google</a></li>
                <li><a href="#descargas">Descargar Imagen y PDF</a></li>
            </ul>
        </nav>
    </head>

    <main>
        <section class="card">
            <div>
                <h1 id="TituloGaleria">Glaeria de imagenes</h1>
                <p>Aca podras ver unas imagenes aleatorias</p>
            </div>
            <div class="imagen-responsive">
                <img src="img/shutterstock_1078387013-scaled.jpg" alt="imagen 1" width="400" height="300">
                <img src="img/lenguajes-de-programacion-cuales-son-los-10-mas-utilizados.jpeg" alt="imagen 2" width="400" height="300" >
                <img src="img/images (1).jpeg" alt="imagen 3" width="400" height="300">
            </div>
        </section>

        <section id="descargas" style="background-color: bisque;">
            <div>
                <h2>Imagen de Perro</h2>
            </div>
            <div>
                <img src="img/golden-retriever.webp" alt="imagenperro" width="400" height="300">
                <p>El Golden Retriever es una de las razas de perro mas linda y amorosa</p>
            </div>
            <div>
                <a href="img/golden-retriever.webp" target="_blank">Abrir Imagen</a>
            </div>
            <a href="img/golden-retriever.webp" download>Descargar Imagen</a>
            <div>
                <a href="TUP - PI - Unidad VI - EjerciciosIntegradores.pdf"download>Descargar PDF</a>
            </div>
            <div>
                <a href="mailto:agusmoran37@gmail.com">Enviar Correo</a>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>