<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <style>
        *{
            margin: 0%;
            padding: 0%;
        }
        .icono{width: 80px; height: 80px;}
        .TituloPrincipal{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: brown;}
        #ParrafoTitulo{text-align: justify;}
    </style>
    <title>Trabajo Nro1</title>
</head>
<body>
    <header class="header">
        <img class="icono" img="img/shutterstock_1078387013-scaled.jpg" alt="Programacion">
        <nav style="background-color: bisque;">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="tabla.html">Tabla</a></li>
                <li><a href="listas.html">Listas</a></li>
                <li><a href="formularios.html">formularios</a></li>
                <li><a href="https://www.google.com">Google</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="Fondo">
            <div>
                <h1 class="TituloPrincipal">Bienvenido al primer bloque</h1>
                <p id="ParrafoTitulo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis iure laborum esse numquam amet quasi vero, quisquam exercitationem nulla accusamus nostrum quam obcaecati sint ducimus pariatur reiciendis dicta voluptas libero.</p>
            </div>

            <div>
                <img src="img/images.jpeg" alt="imagen de ejemplo" width="400" height="300">
            </div>
        </section>

        <section class="contenido">
        <div style="background-color: bisque;">
            <h1>Texto de Lorem</h1>
            <h2>Se usa a modo de ejemplo</h2>
            <p>Lorem ipsum dolor sit amet, <mark>consectetur adipisicing elit</mark>. Itaque placeat, ut mollitia accusamus est corporis similique minima, <i>voluptatem qui</i>, quod repellat inventore odit. Numquam neque <strong>veritatis</strong> magni incidunt amet nam cum nihil recusandae <strong>dolore</strong> ut sint optio in, praesentium accusamus error ab unde consequuntur ea sequi <u>obcaecati beatae non excepturi</u>. <br> vitae repudiandae nulla facilis alias asperiores harum facere sint distinctio sunt velit unde nobis maiores recusandae incidunt aperiam enim aliquam possimus ab et ea commodi sequi, in repellat! Maxime laborum mollitia, numquam voluptates ratione quam. Eveniet quaerat ullam illum esse, laudantium ipsum tenetur, at, a odio rerum vitae nobis!</p>
        </div>
        </section>

        <section id="Bloque-3">
            <h1>Texto de Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dicta laboriosam animi ad accusantium laudantium explicabo consequuntur quas, temporibus culpa sint commodi tenetur optio voluptas magni at labore totam consequatur!</p>
        </section>

    </main>

    <footer>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus qui a consequuntur ut maiores natus modi, vero aliquid tempore! Quod aperiam porro odio cum eaque? Mollitia, quae! Earum, excepturi iure?</p>
    </footer>
</body>
</html>