<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav style="background-color: bisque;">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="tabla.html">Tabla</a></li>
                <li><a href="listas.html">Listas</a></li>
                <li><a href="formularios.html">formularios</a></li>
                <li><a href="https://www.google.com">Google</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section style="background-color: bisque;">
            <h2>Lista Ordenadas</h2>
            <ol>
                <li>Primer elemento</li>
                <li>Segundo elemento</li>
                <li>Tercer elemento</li>
                <li>Cuarto elemento</li>
            </ol>
        </section>

        <section style="background-color: bisque;">
            <h2>Lista Desordenada</h2>
            <ol>
                <li>Auto</li>
                <li>Camion</li>
                <li>Motocicleta</li>
                <li>Bicicleta</li>
            </ol>
        </section>

        <section style="background-color: bisque;">
            <h2>Lista de Definicion</h2>
            <dl>
                <dt>HTML</dt>
                <dd>Lenguaje de marcado utilizado para crear páginas web.</dd>
                <dt>CSS</dt>
                <dd>Lenguaje de estilo usado para describir la presentación de un documento HTML.</dd>
                <dt>JavaScript</dt>
                <dd>Lenguaje de programación que permite crear contenido dinámico en páginas web.</dd>
            </dl>
        </section>

        <section style="background-color: bisque;">
            <h2>Lista Dependiente</h2>
            <ul>
                <li>Viernes</li>
                <ul>
                    <li>Mañana</li>
                    <li>Tarde</li>
                    <ul>
                        <li>14 hs</li>
                        <li>16 hs</li>
                        <li>18 hs</li>
                    </ul>
                    <li>Noche</li>
                </ul>
                <li>Sabado</li>
                <ul>
                    <li>Mañana</li>
                    <li>Tarde</li>
                    <li>Noche</li>
                </ul>
                <li>Domingo</li>
                <ul>
                    <li>Mañana</li>
                    <li>Tarde</li>
                    <li>Noche</li>
                </ul>
            </ul>
        </section>
    </main>
</body>
</html>