<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de ejemplo Programacion II.">
    <meta name="keywords" content="HTML, CSS, meta tags">
    <link rel="stylesheet" href="estilo.css">
    <title>Tabla</title>
    <link rel="icon" href="Calavera_png_transparente.ico">
</head>
<body>
    <header>
        <nav style="background-color: bisque;">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="tabla.html">Tabla</a></li>
                <li><a href="listas.html">Listas</a></li>
                <li><a href="formularios.html">formularios</a></li>
                <li><a href="https://www.google.com">Google</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section style="background-color: bisque;">
            <div>
                <h2>Tabla</h2>
                <p>A continuacion se muestra una tabla con datos aleatorios</p>
            </div>
            <table border="1px solid">
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                </tr>
                <tr>
                    <td>Agustin</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Santiago</td>
                    <td>20</td>
                </tr>
            </table>
        </section>

        <section style="background-color: bisque;">
            <div>
                <p>¿Te Gustaría <strong>aprender más</strong> sobre el uso de tablas en HTML?</p>
            </div>
        </section>

        <section>
            <div>
                <audio controls>
                    <source src="toy-story-short-happy-audio-logo-short-cartoony-intro-outro-music-125627.mp3" type="audio/mpeg">
                </audio>
            </div>
            <div>
                <video controls>
                    <source src="Aprende HTML en 15 Minutos.mp4" type="video/mp4">
                </video>
            </div>

        </section>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22522.045747802003!2d-60.641198222362846!3d-32.95306523064533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1743015418228!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tzjn1FMGfdg?si=jVbNbY-eUk48msfd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <section>
            <table border="1px solid">
                <tr>
                    <th>Lenguajes</th>
                    <th>Dificultad</th>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>5/10</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>6/10</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>PHYTON</td>
                    <td>5/10</td>
                </tr>
            </table>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>