<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tablas, frecuencias, periodos, Rudolf Hertz, matematicas">
    <link rel="shortcut icon" href="../assets/UTN_logo.ico" type="image/x-icon">
    <title>Galeria</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="#">Galeria</a>
            <a href="./tabla.html">Tabla</a>
            <a href="https://www.google.com/?hl=es" target="_blank">Google</a>
            <a href="./lista.html">Listas</a>
            <a href="./formulario.html">Formulario</a>

        </nav>
    </header>

    <main>
        <section>
            <a>
                <h1>Tabla</h1>
                <p>Revision de tablas y frecuencias.</p>
            </a>
            <a>
                <img src="https://media.gcflearnfree.org/content/61d5c0d1c4da77185ca9f225_01_05_2022/Ejemplo-de-frecuencia-absoluta-1.png"
                    alt="Estudiantes-Frecuencias" width="300px">
            </a>
        </section>
        <section>
            <p>
                La <strong>frecuencia</strong> —denotada con la letra griega v o con la letra latina f— es el
                <mark>número de repeticiones por unidad de tiempo</mark> de cualquier proceso periódico. El período es
                la duración de tiempo de cada evento repetitivo, por lo que el período es el recíproco de la frecuencia.
                También se denomina <b>frecuencia temporal</b>, que subraya el contraste con la frecuencia espacial y la
                frecuencia angular.<br>

                Para calcular la frecuencia de un suceso, se contabilizan un número de ocurrencias de este, teniendo en
                cuenta un intervalo temporal, y luego estas repeticiones se dividen por el tiempo transcurrido. Según el
                <i>Sistema Internacional (SI)</i>, la frecuencia se mide en hercios (Hz), en honor a <b><i>Heinrich
                        Rudolf Hertz</i></b> <a href="#quien_es">(Quién es?)</a>. Un hercio es la frecuencia de un
                suceso o fenómeno repetido por segundo. Así, un fenómeno con una frecuencia de dos hercios se repite dos
                veces por segundo. Esta unidad se llamó originalmente «ciclo por segundo» (cps).<br>
                Otras unidades para indicar frecuencias son revoluciones por minuto (rpm o r/min según la notación del
                SI); las pulsaciones del corazón se miden en latidos por minuto (lat/min) y el tempo musical se mide en
                «pulsos por minuto» (bpm, del inglés «beats per minute»).
            </p>

            <h3>Período y frecuencia</h3>
            <p>
                Por conveniencia, las ondas más largas y lentas, como las ondas superficiales del océano, tienden a
                describirse por el período de la onda en lugar de la frecuencia. Las ondas cortas y rápidas, como el
                audio y la radio, suelen describirse por su frecuencia en lugar de por su período.
            </p>
        </section>
        <hr>
        <section>
            <a name="quien_es">
                <h3>Heinrich Rudolf Hertz</h3>
                <img src="../assets/800px-HEINRICH_HERTZ.jpeg" width="250px" alt="Foto de Heinrich Rudolf Hertz">
                <p>
                    Nacido en Hamburgo, Confederación Germánica, 22 de febrero de 1857 y fallece en Bonn, Imperio
                    alemán, 1 de enero de 1894.<br>
                    Fue un físico alemán que descubrió el efecto fotoeléctrico, la propagación de las ondas
                    electromagnéticas y las formas para producirlas y detectarlas. La unidad de medida de la frecuencia,
                    el hercio («Hertz», en la mayoría de los idiomas), lleva ese nombre en su honor.
                </p>
                <a href="../assets/800px-HEINRICH_HERTZ.jpeg" target="_blank">Abrir imagen en nueva página</a>
                <br>
                <a href="../assets/800px-HEINRICH_HERTZ.jpeg" download>Descargar imagen</a>
                <br>
                <a href="../assets/HeinrichRudolfHertz.pdf" download>Descargar Info en PDF</a>
                <br>
                <a href="mailto:pepeclemente@gmail.com">Enviar mail</a>
            </a>
        </section>
    </main>

    <footer>
        
    </footer>
</body>

</html>