<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tablas, frecuencias, periodos, Rudolf Hertz, matematicas">
    <link rel="shortcut icon" href="../assets/UTN_logo.ico" type="image/x-icon">
    <title>Listas</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="./galeria.html">Galeria</a>
            <a href="./tabla.html">Tabla</a>
            <a href="https://www.google.com/?hl=es" target="_blank">Google</a>
            <a href="#">Listas</a>
            <a href="./formulario.html">Formulario</a>
            
        </nav>
    </header>

    <main>
        <h1>Receta de Torta 1234</h1>
        <section>
            <h3>Ingredientes:</h3>
            <ul>
                <li>1 pote de 200 cc de crema de leche o nata</li>
                <li>2 potes (medidos con el de la crema) de azúcar</li>
                <li>3 potes de harina leudante</li>
                <li>4 huevos (a temperatura ambiente)</li>
                <li>1 cucharada de esencia de vainilla</li>
            </ul>

        </section>
        <section>
            <h3>Pasos</h3>
                <ol>
                    <li>Ponemos en un bowl los huevos y el azúcar, y los batimos con movimientos enérgicos por un buen tiempo.</li>
                    <li>Agregar la crema y la esencia de vainilla y batimos otra vez.</li>
                    <li>Incorporar la harina en forma envolvente y suave.</li>
                </ol>
            </section>
            <section>
                <h3>Consejos...</h3>
                <ul>
                    <li>Cocción</li>
                    <ul>
                        <li>Poné en el molde y llevamos al horno (medio, 170°) durante 35 o 40 minutos aproximadamente.</li>
                        <li>No abrir el horno hasta los 35 minutos. Si usas horno eléctrico, cocinar 20 minutos de arriba y de abajo el calor y después sólo de abajo otros 15 minutos.</li>
                    </ul>
                    <br>
                    <li>Te gusta con glasé?</li>
                    <ul>
                        <li>Ingredientes:</li>
                        <ul>
                            <li>1 1/2 taza de azúcar impalpable</li>
                            <li>2 cdas. de jugo de limón o naranja</li>
                            <li>1 cdita. de ralladura de limón o naranja</li>
                        </ul>

                        <li>Paso a paso</li>
                        <ul>
                            <li>Colocar en un bowl azúcar impalpable tamizada. Agregar el jugo de limón o naranja, en el caso de elegir la opción de glasé de naranja, y mezclar hasta conseguir una mezcla homogénea.</li>
                            <li>Terminar integrando la ralladura de limón, o en el caso de querer glasé con sabor a naranja, agregarle ralladura de media naranja.</li>
                        </ul>
                    </ul>
            </ul>


        </section>
        <section>
            <h3>Utiliza...</h3>
            <dl>
                <dt>Leche</dt>
                <dd>mientras mas fresca mejor.</dd>
                <dd>entera tiene mayor contenido graso (mejor).</dd>
                <dt>Fruta</dt>
                <dd>fresca.</dd>
                <dd>cascara recién rallada.</dd>
            </dl>

        </section>
    </main>
    
</body>
</html>