<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tablas, frecuencias, periodos, Rudolf Hertz, matematicas">
    <link rel="shortcut icon" href="../assets/icono_tabla.ico" type="image/x-icon">
    <title>Tabla</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="./galeria.html">Galeria</a>
            <a href="#">Tabla</a>
            <a href="https://www.google.com/?hl=es" target="_blank">Google</a>
            <a href="./lista.html">Listas</a>
            <a href="./formulario.html">Formulario</a>
        </nav>
    </header>

    <main>
        <section>
            <a>
                <h1>Tabla</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, praesentium.</p>
            </a>
            <a href="">
                <img src="https://media.gcflearnfree.org/content/61d5c0d1c4da77185ca9f225_01_05_2022/Ejemplo-de-tabla-con-frecuencia-relativa-estadi%CC%81stica.png"
                    alt="Tabla de Frecuencias inicio" width="600">
            </a>
        </section>
        <section>
            <p>
                La <strong>frecuencia</strong> —denotada con la letra griega v o con la letra latina f— es el
                <mark>número de repeticiones por unidad de tiempo</mark> de cualquier proceso periódico. El período es
                la duración de tiempo de cada evento repetitivo, por lo que el período es el recíproco de la frecuencia.
                También se denomina <b>frecuencia temporal</b>, que subraya el contraste con la frecuencia espacial y la
                frecuencia angular.<br>

                Para calcular la frecuencia de un suceso, se contabilizan un número de ocurrencias de este, teniendo en
                cuenta un intervalo temporal, y luego estas repeticiones se dividen por el tiempo transcurrido. Según el
                <i>Sistema Internacional (SI)</i>, la frecuencia se mide en hercios (Hz), en honor a <b><i>Heinrich
                        Rudolf Hertz</i></b>. Un hercio es la frecuencia de un suceso o fenómeno repetido por segundo.
                Así, un fenómeno con una frecuencia de dos hercios se repite dos veces por segundo. Esta unidad se llamó
                originalmente «ciclo por segundo» (cps).<br>
                Otras unidades para indicar frecuencias son revoluciones por minuto (rpm o r/min según la notación del
                SI); las pulsaciones del corazón se miden en latidos por minuto (lat/min) y el tempo musical se mide en
                «pulsos por minuto» (bpm, del inglés «beats per minute»).
            </p>

            <h3>Período y frecuencia</h3>
            <p>
                Por conveniencia, las ondas más largas y lentas, como las ondas superficiales del océano, tienden a
                describirse por el período de la onda en lugar de la frecuencia. Las ondas cortas y rápidas, como el
                audio y la radio, suelen describirse por su frecuencia en lugar de por su período.
            </p>
        </section>

        <section>
            <span>
                <audio controls preload="auto" src="../assets/Tabla-de-frecuencias-simple.mp3"></audio>
            </span>

            <span>
                <video controls src="../assets/tablas_de_frecuencia_simple_ejemplo2.mp4" width="500"></video>
            </span>
        </section>

        <br>
        <br>

        <section>
            <span>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.867833525102!2d-60.646393923595475!3d-32.95449867228636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses!2sar!4v1743118528440!5m2!1ses!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </span>
            <span>
                <iframe width="500" height="300" src="https://www.youtube.com/embed/IjBty9NstH4?si=prJF0gBnC32QGN3j"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </span>
        </section>

        <br>
        <br>

        <section>
            <table border>
                <tr>
                    <th rowspan="2">Materia</th>
                    <th colspan="3">Notas Promedio</th>
                </tr>
                <tr>
                    <td>Cuatrimeste 1</td>
                    <td>Cuatrimeste 2</td>
                    <td>Cuatrimeste 3</td>
                </tr>
                <tr>
                    <td>Matemáticas</td>
                    <td>5</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Lengua</td>
                    <td>6</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Cs. Sociales</td>
                    <td>7</td>
                    <td>8</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Historia</td>
                    <td>6</td>
                    <td>5</td>
                    <td>4</td>
                </tr>
            </table>
        </section>

    </main>

    <footer>

    </footer>
</body>

</html>