{% extends "base.html" %} {% block content %}
<h2>{{ 'Editar Foto' if photo else 'Agregar nueva Foto' }}</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div>{{ form.title.label }} {{ form.title() }}</div>
  <div>{{ form.description.label }} {{ form.description() }}</div>
  <div>{{ form.image.label }} {{ form.image() }}</div>
  {% if photo %}
  <div>
    <p>Imagen actual:</p>
    <img
      src="{{ url_for('static', filename='uploads/' + photo.image) }}"
      alt="{{ photo.title }}"
      style="max-width: 300px"
    />
  </div>
  {% endif %}
  <div>
    <button type="submit" class="btn btn-success" id="submit-button">
      Enviar
    </button>
    <a
      href="{{ url_for('main.index') }}"
      class="btn btn-secondary"
      id="cancel-button"
      >Cancelar</a
    >
  </div>
</form>
{% endblock %}
