<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body style="padding: 0; margin: 0;">
    <header>
        <nav class="nav_style">
            <ul class="ul_style">
                <li class="li_style"><a href="../index.html" class="a_style"">Inicio</a></li>
                <li class=" li_style"><a href="#" class="a_style"">Galeria</a></li>
                <li class=" li_style"><a href="./tabla.html" class="a_style"">Tabla</a></li>
                <li class=" li_style"><a href="https://www.google.com/?hl=es" target="_blank" class="a_style"">Google</a></li>
                <li class=" li_style"><a href="./listas.html" class="a_style"">Listas</a></li>
                <li class=" li_style"><a href="./formulario.html" class="a_style"">formularios</a></li>
            </ul>
        </nav>
    </header>

    <main>


        <section id=" seccion_uno">
                                            <div class="div_galeria">
                                                <img src="../img/pexels-souvenirpixels-417074.jpg" width="1000px"
                                                    class="img_style_galeria" alt="paisaje">
                                            </div>
                                            <section class="section_dos_galeria">
                                                <div class="div_galeria_dos">
                                                    <h3 class="h3_section_dos">Paisaje Argentina</h3>
                                                    <p class="parrafo-galeria">Lorem ipsum, dolor sit amet
                                                        consectetur adipisicing elit. Voluptatum
                                                        placeat dolor labore et est velit quasi laborum obcaecati
                                                        reiciendis officiis nisi impedit,
                                                        tempore voluptates minus similique id corrupti! Soluta,
                                                        repellat.
                                                        Eos, voluptas. Quis exercitationem maxime saepe sunt atque enim
                                                        quia autem! Itaque ratione aut
                                                        consequatur assumenda libero delectus iusto aliquam impedit
                                                        magnam. Facere porro sit, fuga
                                                        assumenda voluptatibus sapiente voluptates?
                                                        Quisquam reiciendis, suscipit sunt nesciunt rem quasi vero
                                                        dolorum est sit maiores recusandae
                                                        possimus temporibus autem consectetur animi, inventore, illo
                                                        minima. Ullam repellat quos sed
                                                        earum culpa. Blanditiis, repudiandae veniam?
                                                        Suscipit eveniet repellendus, at, maxime impedit veritatis
                                                        voluptatibus quia ab eligendi autem
                                                        voluptatem quis cumque iusto harum neque explicabo. Omnis
                                                        incidunt quis harum expedita est
                                                        veritatis sequi nobis sunt recusandae.
                                                        Repudiandae ipsa dolore repellat, cumque totam exercitationem
                                                        quod natus voluptatum laudantium.
                                                        Possimus blanditiis ducimus dolor et perspiciatis, pariatur
                                                        voluptatibus explicabo labore, id
                                                        suscipit impedit dolores voluptatum minus repellat facere natus. <br>
                                                        <a class="a_section_dos" href="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                                            target="_blank">Busca
                                                            el paisaje Aqui! <br></a> o descargar aqui! <button><a
                                                                href="../img/pexels-souvenirpixels-417074.jpg"
                                                                target="_blank" download>Descarga</button>
                                                    </p>

                                                    <button><a href="../other/reparacion_tarjetas de video.pdf"
                                                            download="reparacion_tarjetas de video.pdf"
                                                            target="_blank">Descargar archivo pdf</a></button>
                                                </div>
                                            </section>
                                            <section class="section_tres_galeria">
                                                <div class="titulo-section-3">
                                                    <h2 style="text-align: center;">Formulario de contacto</h2>
                                                    <img src="../img/icono-1.png" width="40px">
                                                </div>
                                                
                                                <div class="div_tres_galeria">
                                                    <form action="" class="form_style">

                                                        <label for="nombre" style="text-align: center;">Nombre</label>
                                                        <input type="text" name="nombre" id="nombre"
                                                            placeholder="Ingrese el nombre" required
                                                            style="width: 400px; text-align: center; padding: 20px; border-radius: 10px; border-color: black;">

                                                        <label for="Apellido"
                                                            style="text-align: center;">Apellido</label>
                                                        <input type="text" name="Apellido" id="Apellido"
                                                            placeholder="Ingrese el Apellido" required
                                                            style="width: 400px; text-align: center; padding: 20px; border-radius: 10px; border-color: black;">

                                                        <label for="nombre" style="text-align: center;">Telefono</label>
                                                        <input type="text" name="nombre" id="nombre"
                                                            placeholder="Ingrese el nombre" required
                                                            style="width: 400px; text-align: center; padding: 20px; border-radius: 10px; border-color: black;">

                                                        <label for="mensaje" style="text-align: center;">Mensaje</label>
                                                        <input type="text" name="mensaje" id="mensaje"
                                                            placeholder="Ingrese el mensaje" required
                                                            style="width: 400px; text-align: center; padding: 20px; border-radius: 10px; border-color: black;">
                                                        <button type="submit"
                                                            style="background-color: black; color: white; padding: 20px; border-radius: 10px;">Enviar</button>
                                                    </form>
                                                </div>
                                            </section>
                                            <a href="#seccion_uno">
                                                <h4>POR ULTIMO, SI APRETAS AQUÍ TE VAS PARA ARRIBA</h4>
                                            </a>
                                            </section>

                                            </main>

                                            <footer>

                                            </footer>
</body>

</html>