<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/ico_rosario.ico">
    <meta name="keywords" content="Rosario, Argentina, Monumento a la Bandera, turismo, sitios emblemáticos">
    <title>Galeria</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="http://www.google.com">Google</a>
            <a href="../lista.html">Listas</a>
            <a href="../formulario.html">Formularios</a>
        </nav>
    </header>
<hr>
    <main>
        <section>
            <section>
                <img src="../img/y36T9jX5q_870x580__1.jpg" alt="Edificio">
                <h2>Edificios</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed hic facere beatae necessitatibus laudantium. Error excepturi asperiores voluptates delectus ratione officia numquam vel expedita? Cumque incidunt quis quas sit delectus!</p>
                <a href="../img/y36T9jX5q_870x580__1.jpg" target="_blank">Enlace a la imagen</a><br>
                <a href="../pdf/perfil linkedin.pdf"dowload>Descargar PDF</a><br>
                <a href="maito:seba@seba.com">Enviar Email</a>
            </section>
        </section>
        <section>
            <center><a href="../index.html">Volver a inicio</a></center>
        </section>
    </main>
<hr>
    <footer>
        <p>footer pie de pagina</p>
    </footer>
</body>
</html>