<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria Supra</title>
</head>

<body>

    <h3><a href="../templates/index.html">Inicio</a></h3>
    <a href="#sendmail">Si deseas enviarme un mail, haz click aqui</a>


    <ul>
        <section>
            <li><img src="../img/supra1.jpg" alt="Supra primera generacion" width="300px"
                    height="200px"> </li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/1981_Toyota_Supra.jpg/320px-1981_Toyota_Supra.jpg>"
                    target="_blank">Abrir en nueva pestaña</a></li>
                    <li><a href="../img/supra1.jpg" download> Descargar imagen</a></li>
                    <a href="../img/supra1.pdf" download> Descargar como PDF</a>
            <h4><i>Toyota Supra A40</i> </h4>

            <p>La primera generación del Supra se basaba principalmente en el Toyota Celica Liftback, pero es 19,5 cm
                (7,7 plg) más largo. <br>
                Las puertas y la sección trasera se compartieron con el Celica, pero los paneles frontales se alargaron
                para <br>
                adaptarse al motor de seis cilindros en línea, a diferencia del Celica con un motor de cuatro cilindros
                en línea.</p>
        </section>


        <section>
            <li><img src="../img/supra2.jpg"></li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/2nd-Toyota-Supra.jpg/320px-2nd-Toyota-Supra.jpg"
                    target="_blank">Abrir en nueva pestaña</a></li>
                    <li><a href="../img/supra2.jpg" download> Descargar imagen</a></li> 
                    <a href="../img/supra2.pdf" download> Descargar como PDF</a>
                    
            <h4><i>Toyota Supra A60</i> </h4>
            <p>A finales de 1981, Toyota rediseñó completamente el Celica Supra, así como toda la línea Celica para el
                año 1982.<br>
                Todavía se basaba en la plataforma del Celica, pero hubo varias diferencias fundamentales, sobre todo en
                el diseño de la parte delantera<br>
                y los faros escamoteables completamente retráctiles.<br>
                Dio un giro radical hacia el apartado deportivo, que se hacía notar desde la estética con guardabarros
                más anchas y un pequeño alerón trasero.</p>
        </section>


        <section>
            <li><img src="../img/3eragen.jpg" alt="Supra Tercera Generacion" width="300px" height="200px"></li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Toyota_SUPRA_2.5_GT_TWIN_TURBO_%28E-JZA70%29_front.jpg/220px-Toyota_SUPRA_2.5_GT_TWIN_TURBO_%28E-JZA70%29_front.jpg"
                    target="_blank">Abrir en nueva pestaña</a></li>
                    <li><a href="../img/3eragen.jpg" download> Descargar imagen</a></li>
                    <a href="../img/3eragen.pdf" download> Descargar como PDF</a>
            <h4><i>Toyota Supra A70</i> </h4>
            <p>En mayo de 1986, Toyota estaba listo para lanzar su próxima versión del Supra. Los enlaces entre el
                Celica y
                Supra fueron cortados<br>
                por lo que fue el primer Supra que llegó como un modelo independiente; estos dos modelos eran
                completamente
                diferentes.<br>
                El Celica cambia a tracción delantera, mientras que el Supra mantuvo su tracción trasera</p>
        </section>


        <section>
            <li><img src=" ../img/SupraA80.jpg" alt="Supra Cuarta Generacion" width="300px" height="200px">
             </li>
             <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/White_Supra.JPG/320px-White_Supra.JPG" target="_blank">Abrir
                en nueva pestaña</a></li>
               <li><a href="../img/SupraA80.jpg" download> Descargar imagen</a></li> 
                <a href="../img/SupraA80.pdf" download> Descargar como PDF</a>
            <h4><i>Toyota Supra A80</i> </h4>
            <p> Rediseñado por Isao Tsuzuki,15​ se quitaron los faros retráctiles, se le dio una carrocería <br>
                mucho más resistente, más pesada que las anteriores y más redondeada<br>
                Para el modelo de exportación a Norteamérica y Europa, se usaron turbocompresores<br>
                con aspas de acero e inyectores de combustible más pequeños y una bomba de combustible más grande. </p>
        </section>


        <section>
            <li><img src="../img/suprarz.jpg" alt="Supra Quinta Generacion" width="300px" height="200px"></li>
           <li><a href="https://acnews.blob.core.windows.net/imgnews/large/NAZ_f5ff07f0b643474eb8f350df7c29a3de.jpg"
            target="_blank">Abrir en nueva pestaña</a></li> 
            <li><a href="../img/suprarz.jpg" download> Descargar imagen</a></li>
            <a href="../img/suprarz.pdf" download> Descargar como PDF</a>
            <h4><i>Toyota Supra GR RZ</i> </h4>
            <p>Basado en el concepto Toyota FT1, que también hereda algunos elementos del A80, aunque el nuevo A90 tiene
                una
                trompa más alargada y más afilada.<br>
                Se destacan las faldillas laterales y los riñones, encontrándonos con un paso de rueda trasero que
                adivina
                una zaga más agresiva<br>
                Para esta nueva generación, Toyota trabajó en conjunto con BMW, en el que se compartieron elementos,
                como:
                el chasis, motor y transmisión,<br>
                provenientes del Z4 y, en cuanto al tuneo o el software, es propio de Toyota.</p>

        </section>

        
        <section>
            <a name="sendmail"></a>
            <h1><a href="mailto:frisconano@gmail.com?subject=Consulta">Enviar correo en caso de consultas</a></h1>
        </section>


    </ul>
</body>

</html>