<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SUPRA</title>
    <style>
      *{margin:0;padding:0}
      h1{text-align:center; font-size: 50px;}
      .title{color: orange ;}
      mark{background-color:black;}
      #paragraph{
        text-align:justify;
      }
      .imgmain
      {
        display:block;
        margin-top: -15%;
        margin-left: 27%;
        width:700px;
        height:500px;
      }
    </style>
    <link rel="icon" href="../img/iconosupra.ico">
</head>

<body>

  <header>
    <h1 > <strong><mark class="title"> Toyota Supra a lo largo de los años</mark>  </strong></h1>
    <div style="height: 250px; display: inline-block;"></div>
    <img  class="imgmain" src="../img/supramodelos.jpg"alt="Toyota Supra Modelos"  width="300px" height="200px">
       <h2><u>En esta pagina veremos la evolucion e  informacion sobre el Toyota Supra</u></h2>
   
    </header>

      
    
       
<main>
  

  <a name="Inicio"> </a>
      <nav>
        <ul>
        <li><h3><a href="#Inicio"> Inicio </a></h3></li>
        <li><h3><a href="../templates/galeria.html"> Galeria de imagenes</a></h3></li>
        <li><h3><a href="../templates/listas.html"> Listas de modelos , tipos de competicion y apariciones en la cultura popular</a></h3></li>
        <li><h3><a href="../templates/tabla.html"> Tablas</a></h3></li>
        <li><h3><a href="../templates/formulario.html"> Formulario</a></h3></li>
        <li><h3><a href="https://www.google.com/">Google</a></h3></li>
        </ul>
      </nav>
    </main>

    <div style="height: 50px; display: inline-block;"></div>


<section style="background-color:blue;"></section>

   <h1><a href="#Info">Info </a>  </h1> 

<div style="height: 250px; display: inline-block;"></div>

<a name="Info"> </a>
   <p id="paragraph" style="background:black;"><mark style="background:orange"> El Supra dio en realidad sus primeros pasos en el mercado japonés como Celica XX (Celica Supra en otros mercados)<br>
    en 1978. Se trataba de una variante más larga, ancha y potente del Celica, con un afinado motor de seis cilindros y un porte más lujoso,<br>
    perfecto para el floreciente mercado de los turismos en Norteamérica.
    <br>
    <br>
    En 1982, el Supra llegó a Europa con una imagen totalmente nueva basada en la tercera generación del plataforma del Celica.<br>
    Con sus prominentes y agresivos pasos de las ruedas y sus espectaculares faros frontales elevables, además de un indefectible potente motor<br>
    el Supra atraía las miradas y encajaba a la perfección con el diseño y la cultura de los ochenta.
  </mark></p>
  

    <footer>
      <h4> Toyota. Todos los derechos reservados </h4>

    </footer>
  </section>

</body>

</html>