<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <h3> <a href="../templates/index.html">Inicio</a></h3>
    <h3><u>Modelos de Toyota Supra a lo largo de los años</u></h3>
    <ol>
        <li>Primera generación (A40/A50/MK1)/Año de salida:1978</li>
        <li>Segunda generación (A60/MK2)/Año de salida:1981</li>
        <li>Tercera generación (A70/MK3)/Año de salida:1986</li>
        <li>Cuarta generación (A80/MK4)/Año de salida:1993</li>
        <li>Quinta generación (A90/J29/DB/MK5)/Año de salida:2019</li>
    </ol>
    <h3> <u>Modelos de Toyota Supra a lo largo de los años:</u> </h3>
    <ul>
        <li><mark style="background:orange" > Drag </mark></li>
        <li><mark style="background:orange" >Carrera de turismos</mark></li>
        <li><mark style="background:orange" >Rally</mark></li>
        <li><mark style="background:orange" >Carreras de automoviles deportivos</mark></li>
        <ul>
            <li>IMSA</li>
            <li>U.S. Super Lap Battles</li>
            <li>Magazine Challenges</li>
            <li>JGTC/Super GT</li>
            <li>Le Mans</li>
        </ul>
        <li>Drifting</li>
        <li>Supra HV-R</li>
    </ul>
    <h3><u> Apariciones del Toyota Supra en la cultura popular: </u></h3>
    <dl>
    <dt>En Videojuegos</dt>
    <dd>Gran turismo</dd>
    <dd>Forza</dd>
    <dd>Need For Speed</dd>
    <dd>Asphalt
    <dd>Midnight Club</dd>
    <dt> En Peliculas</dt>
    <dd>Fast and Furious</dd>
    
    
</body>
</html>