<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="1500px" height="700 px">
        <tr>
            <th>Codigo y Aspiracion</th>
            <th>Diametro por carrera</th>
            <th>Potencia Maxima</th>
            <th>Mercado</th>
            
        </tr>
        <tr>
            <td>8:00-9:00</td>
            <td style="background-color:red;" rowspan="2">Matematica</td>
            <td style="background-color:brown;">Lengua</td> 
            <td>Musica</td>
            <td>      </td>
            <td style="background-color:red;" rowspan="2">Matematicas</td>
        </tr>
        <tr>
            <td> 9:00-10:00</td>
            <td>  Ingles   </td>
            <td>  Ingles   </td>
            <td style="background-color:pink;" >E.Fisica</td>
            
         </tr>
         <tr>
            <td>10:00-10:30</td> 
            <td style="background-color:green;" colspan="5">Recreo</td>
         </tr>
         <tr>
            <td> 10:30-11:30  </td>
            <td style="background-color:pink;" >E.Fisica  </td>  
            <td>Valenciano    </td>
            <td style="background-color:brown;" rowspan="2">Lengua</td>
            <td style="background-color:yellow;">Informatica</td>
            <td>Ingles        </td>
         </tr>
         <tr>
            <td>12:30-13:30</td>
            <td>Musica     </td>
            <td style="background-color:pink;">E.Fisica</td>
            <td rowspan="2">Matematicas</td>
            <td style="background-color:yellow;">Informatica</td>
         </tr>
         <tr>
            <td>13:30-14:30</td>
            <td>           </td>
            <td style="background-color:yellow;">Informatica</td>
            <td>            </td>
            <td>            </td>
         </tr>



    </table>
</body>
</html>